{% extends 'base.html' %}

{% block content %}`
    {% if request.user.is_authenticated %}
    <p>Welcome {{ request.user }}!</p>
    {% endif %}
  <form action="" method="get">
    <p><select name="sort">
        <option disabled selected value>Choose time</option>
        <option value ="time_from">--></option>
        <option value ="-time_from"><--</option>
    </select></p>

    <p><select name="sort" >
        <option disabled selected value>Choose price</option>
        <option value ="price">Starts with the lowest</option>
        <option value ="-price">Starts with the highest</option>
    </select></p>
      <button type="submit">Sort</button>
    </form>


        <hr>

    <div>
        <p><a href="{% url 'session-list-today' %}">Session list for the next 24 hours</a></p>
        <p><a href="{% url 'session-list-tomorrow' %}">Session list for tomorrow</a></p>
        <hr>
        {% for session in sessions %}
            <p>Name: {{ session.film.name }}</p>
            <p>Hall: {{ session.hall }}</p>
            <p>Seats: {{ session.available_seats }}</p>
            <p>Price: {{ session.price }}</p>
            <p>From: {{ session.time_from }}</p>
            <p>To: {{ session.time_to }}</p>


            {% if request.user.is_superuser %}
                <a style="color: red" href={% url 'update_session' session.id %}>Update this session</a>
            {% endif %}
            {% if request.user.is_authenticated %}
            <form action="{% url 'buy_ticket' session.id %}" method="post">
                {% csrf_token  %}
                {{ amount }}
                <input type="submit" value="buy">

                </form>
            <hr>
            {% endif %}


{#            {% if request.user.is_authenticated %}#}
{#                    <form action="{% url 'tickets:ticket-create' %}" method="post">#}
{##}
{#                        {% csrf_token %}#}
{##}
{#                        <input type="hidden" name="session_id" value="{{ session.id }}">#}
{##}
{#                        <input type="number" min="0" name="quantity" value="1">#}
{##}
{#                        <input type="submit" value="Buy" class="btn btn-primary">#}
{##}
{#                    </form>#}
{##}
{#                {% endif %}#}

        {% endfor %}


    </div>
{% endblock %}